@use "navbar";
@use "sidebar";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Public Sans", sans-serif;
  .page-content {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 250px);
    padding: 20px;
    transition: margin-left 0.3s ease-in-out;
  }

  /* When Sidebar is Collapsed */
  @media (min-width: 1440px) {
    .collapsed + .page-content {
      margin-left: 80px;
      width: calc(100% - 80px);
    }
  }
}
